@import '../../config.scss';

.test-component {
  .parallax-inner {
    width: 100%;
    height: 200px;
    background-color: hotpink;
  }
}

.test-component2 {
  .parallax-inner {
    width: 100%;
    height: 200px;
    background-color: lime;
  }
}
