@import 'config/normalize';
@import 'config/variables';
@import 'config/animation';
@import 'config/fonts';

html,
body {
  background-color: $background-colour;
  color: #fff;
  font-family: $font--body;
}

a {
  color: #fff;
}

.app {
  position: relative;
  padding: 0 50px;
  overflow: hidden;
}
